@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.App {
  text-align: center;
  background-color: #fbf1dd;
  height: 100vh; /* Add this line */
  margin: 0; /* Add this line */
  padding: 0; /* Add this line */
  box-sizing: border-box; /* Add this line */
}

.logo {
  position: absolute; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  height: 150px; /* Adjust this value as needed */
  width: auto; /* Adjust this value as needed */
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: 'Bungee', sans-serif;
  color: #0c3e3e;
  margin-left: 175px;
  font-size: 40px; /* Add this line */
}

.banner {
  position: absolute;
  top: 150px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 60px; /* Adjust this value as needed */
  background-color: #e9841d;
}

.banner2 {
  position: absolute;
  top: 210px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #0c3e3e;
}

.banner2-text {
  color: #fbf1dd;
  font-size: 25px; /* Adjust this value as needed */
  font-family: 'Changa', sans-serif; /* Add this line */
}

.title {
  position: absolute;
  top: 280px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 30px; /* Adjust this value as needed */
  font-family: 'Bungee', sans-serif;
  color: #0c3e3e;
}

.columns {
  position: absolute;
  top: 380px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column-text {
  color: #0c3e3e;
  font-size: 17px; /* Adjust this value as needed */
  font-family: 'Abhaya libre', serif;
  margin: 0 40px; /* Add this line */
}

.banner3 {
  position: absolute;
  top: 600px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 420px;
  background-color: #e9841d; /* Add this line */
}

.columns3 {
  position: absolute;
  top: 10px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column3-text {
  color: #0c3e3e;
  font-size: 17px;
  font-family: 'Abhaya libre', serif;
  margin: 0 30px; /* Adjust this value as needed */
}

.column3-title {
  color: #0c3e3e;
  font-size: 30px;
  font-family: 'Bungee', sans-serif;
  margin-bottom: 10px; /* Add this line */
}

.column3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px; /* Add this line */
}

.sebastian-image {
  width: 170%; /* Adjust this value as needed */
  height: auto; /* Adjust this value as needed */
  margin-left: 20px; /* Add this line */
  margin-right: 20px; /* Add this line */
  border: 2px solid black; /* Add this line */
  margin-top: 80px; /* Add this line */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c3e3e;
  padding: 10px 0;
}

.footer a {
  color: #fbf1dd;
  margin: 0 30px;
}

