/* Default styles for both desktop and mobile */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Common styles */
body {
  max-width: 100vw; /* This will limit the width of the page */
  overflow-x: hidden; /* This will hide any horizontal overflow */
}

.App {
  overflow-x: hidden; /* Prevents horizontal scrolling */
  width: 100%; /* Ensures the width doesn't exceed the viewport */
  text-align: center;
  background-color: #fbf1dd;
  height: 130vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh; /* Changed from 150px to 15vh */
  width: auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: 'Bungee', sans-serif;
  color: #0c3e3e;
  margin-left: 10vw; /* Changed from 175px to 10vw */
  font-size: 3vw; /* Changed from 40px to 3vw */
  position: relative; /* Add this line */
  top: -6vh; /* Add this line, adjust the value as needed */
}

.banner {
  position: absolute;
  top: 20vh; /* Changed from 150px to 15vh */
  left: 0;
  width: 100%;
  height: 12vh; /* Changed from 60px to 6vh */
  background-color: #e9841d;
  text-align: right;
  padding-right: 0px; /* Add this line */
}

.banner2 {
  position: absolute;
  top: 32vh; /* Changed from 210px to 21vh */
  left: 0;
  width: 100%;
  height: 11vh; /* Changed from 90px to 9vh */
  background-color: #0c3e3e;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

.banner2-text {
  color: #fbf1dd;
  font-size: 2.5vw; /* Changed from 30px to 2.5vw */
  font-family: 'Changa', sans-serif;
  z-index: 1;
}


.title {
  position: absolute;
  top: 43vh; /* Changed from 280px to 28vh */
  margin: 1.5vh 5vw; /* Changed from 20px 40px to 1.5vh 4vw */
  width: 100%;
  text-align: left;
  font-size: 2.2vw; /* Changed from 30px to 2.5vw */
  font-family: 'Bungee', sans-serif;
  color: #0c3e3e;
}

.columns {
  position: absolute;
  top: 55vh; /* Changed from 380px to 38vh */
  left: 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.column-text {
  color: #0c3e3e;
  font-size: 1.3vw; /* Changed from 17px to 1.7vw */
  font-family: 'Abhaya libre', serif;
  margin: 1vh 5vw; /* Changed from 10px 50px to 1vh 5vw */
  text-align: left;
}

.banner3 {
  position: absolute;
  top: 110vh; /* Changed from 680px to 68vh */
  left: 0;
  width: 100%;
  height: 80vh; /* Changed from 420px to 42vh */
  background-color: #e9841d;
}

.columns3 {
  position: absolute;
  top: 1vh; /* Changed from 10px to 1vh */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column3-text {
  color: #0c3e3e;
  font-size: 1.3vw; /* Changed from 17px to 1.7vw */
  font-family: 'Abhaya libre', serif;
  margin: 0 5vw; /* Changed from 0 50px to 0 5vw */
  text-align: left;
}

.column3-title {
  color: #0c3e3e;
  font-size: 2.2vw; /* Changed from 30px to 3vw */
  font-family: 'Bungee', sans-serif;
  margin: 0 5vw; /* Changed from 0 50px to 0 5vw */
  text-align: left;
}

.column3-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 10vw; /* Changed from 100px to 10vw */
}

.sebastian-image {
  width: 250%;
  height: auto;
  margin-left: -4vw; /* Changed from -20px to -2vw */
  margin-right: 6vw; /* Changed from 35px to 3.5vw */
  border: 0.4vw solid #B1DCDC; /* Changed from 4px to 0.4vw */
  margin-top: 8vh; /* Changed from 80px to 8vh */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0c3e3e;
  padding: 1vh 0; /* Changed from 10px to 1vh */
  z-index: 5;
  max-width: 100%; /* This will limit the width of the footer */
}

.footer a {
  color: #fbf1dd;
  margin: 0 2vw; /* Changed from 0 30px to 0 3vw */
}

.banner4 {
  position: absolute;
  top: 190vh; /* Changed from 1100px to 110vh */
  left: 0;
  width: 100%;
  height: 150vh; /* Changed from 1000px to 100vh */
  background-color: #B1DCDC;
}


.slide-title {
  color: #e9841d;
  font-family: 'Bungee', sans-serif;
  font-size: 2.2vw; /* Changed from 200% to 20vw */
  text-align: left;
  margin: 0 20vw; /* Changed from 0 200px to 0 20vw */
}

.slide-text {
  color: #0c3e3e;
  font-family: 'Abhaya Libre', serif;
  font-size: 1.3vw; /* Changed from 17px to 1.7vw */
  margin-left: 20vw; /* Changed from 200px to 20vw */
  margin-right: 20vw; /* Changed from 200px to 20vw */
  text-align: left;
}

.slide-image_1 {
  width: 20vw; /* Adjust as needed */
  height: auto;
  margin-top: 6vh; /* Adjust as needed */
  border: 0.4vw solid #e9841d; /* Adjust as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide-image_2 {
  width: 40vw; /* Adjust as needed */
  height: auto;
  margin-top: 4vh; /* Adjust as needed */
  border: 0.2vw solid #e9841d; /* Adjust as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.banner-button {
  font-family: 'Bungee', serif;
  color: #0c3e3e;
  background: none;
  border: none;
  font-size: 1.7vw; /* Changed from 17px to 1.7vw */
  margin: 0.2vw; /* Changed from 2px to 0.2vw */
  padding-right: 2vw; /* Changed from 20px to 2vw */
}

.slider-logo-container {
  position: relative; /* Add this line */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-logo {
  width: 20vw; /* Adjust as needed */
  height: auto;
  margin-top: 4vh; /* Adjust as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  /* Your styles here */
  body {
    max-width: 100vw; /* This will limit the width of the page */
    overflow-x: hidden; /* This will hide any horizontal overflow */
  }
  
  .logo {
    height: 8vh; /* Changed from 100px to 10vh */
  }

  .header-text {
    font-size: 4vw; /* Changed from 30px to 4vw */
    margin-left: 10vw; /* Changed from 100px to 10vw */
  }

  .banner {
    top: 10vh; /* Changed from 100px to 10vh */
    height: 5vh; /* Changed from 100px to 10vh */
  }

  .banner2 {
    top: 14vh; /* Changed from 160px to 16vh */
    height: 4vh; /* Changed from 120px to 12vh */
  }

  .banner2-text {
    font-size: 2vw; /* Changed from 20px to 2vw */
  }

  .title {
    top: 18vh; /* Changed from 250px to 25vh */
    font-size: 2.5vw; /* Changed from 25px to 2.5vw */
    margin-left: 20;
  }

  .columns {
    top: 22vh; /* Changed from 320px to 32vh */
    flex-direction: column;
    align-items: left;
  }

  .column-text {
    font-size: 1.4vw; /* Changed from 14px to 1.4vw */
    margin-left: 20;
    text-align: left;
  }

  .banner3 {
    top: 40vh; /* Changed from 600px to 60vh */
    height: 5;
  }

  .columns3 {
    flex-direction: column;
    align-items: left;
  }

  .column3-text {
    font-size: 1.4vw; /* Changed from 14px to 1.4vw */
    margin: 2;
    text-align: left;
    margin-left: 20;
    margin-right: 30;
  }

  .column3-title {
    font-size: 2.5vw; /* Changed from 25px to 2.5vw */
    margin-bottom: 0.5vh; /* Changed from 5px to 0.5vh */
    margin-left: 20;
  }

  .footer {
    padding: 0.5vh 0; /* Changed from 5px to 0.5vh */
    display: flex;
    justify-content: center;
    max-width: 100%; /* This will limit the width of the footer */
    z-index: 5;
  }

  .footer a {
    font-size: 1vw; /* Changed from 14px to 1.4vw */
  }

  .banner4 {
    top: 60vh; /* Changed from 750px to 75vh */
    height: auto;
  }

  .slide-title {
    font-size: 2.5vw; /* Changed from 160% to 16vw */
  }

  .slide-text {
    font-size: 1.2vw; /* Changed from 12px to 1.2vw */
    margin-left: 20vw; /* Changed from 50px to 5vw */
    margin-right: 30vw; /* Changed from 50px to 5vw */
    text-align: left;
  }

  .slide-image {
    width: 80vw; /* Changed from 80% to 80vw */
    margin-top: 2vh; /* Changed from 20px to 2vh */
    border-width: 0.2vw; /* Changed from 2px to 0.2vw */
  }

  .banner-button {
    font-size: 1.4vw; /* Changed from 12px to 1.2vw */
    margin: 0.3vw; /* Changed from 3px to 0.3vw */
  }
  .sebastian-image {
    width: 5%;
    margin-top: 2vh; /* Changed from 20px to 2vh */
    display: none;
  }
}
