.App {
  text-align: center;
  background-color: #fbf1dd;
  height: 100vh; /* Add this line */
  margin: 0; /* Add this line */
  padding: 0; /* Add this line */
  box-sizing: border-box; /* Add this line */
}

.logo {
  position: absolute; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  height: 150px; /* Adjust this value as needed */
  width: auto; /* Adjust this value as needed */
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: 'Bungee', sans-serif;
  color: #0c3e3e;
  margin-left: 175px;
  font-size: 40px; /* Add this line */
}

.banner {
  position: absolute;
  top: 150px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 60px; /* Adjust this value as needed */
  background-color: #e9841d;
}

.banner2 {
  position: absolute;
  top: 210px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #0c3e3e;
}

.banner2-text {
  color: #fbf1dd;
  font-size: 25px; /* Adjust this value as needed */
  font-family: 'Changa', sans-serif; /* Add this line */
}

.title {
  position: absolute;
  top: 280px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 34px; /* Adjust this value as needed */
  font-family: 'Cormorant SC', serif;
  color: #0c3e3e;
}

.columns {
  position: absolute;
  top: 380px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column-text {
  color: #0c3e3e;
  font-size: 17px; /* Adjust this value as needed */
  font-family: 'Cormorant SC', serif; /* Add this line */
  margin: 0 40px; /* Add this line */
}